body {
    background-size: 400% 400%;
    height: 100vh;
    color: rgb(161, 172, 169);
    background-color: #1C1D1F;
    font-family: 'Open Sans', sans-serif;
    font-weight: 'Medium';
}


/* .brn-font {
    background: linear-gradient(-45deg,
            rgb(70, 161, 165),
            rgb(99, 120, 121),
            rgb(83, 141, 113));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */

.form-control:focus {
    border-color: #cccccc;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.brn-font {
    background: linear-gradient(-45deg,
            rgb(97, 190, 216),
            rgb(167, 197, 200),
            rgb(83, 141, 113));
    background-size: 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animated_text 5s ease-in-out infinite;
    -moz-animation: animated_text 5s ease-in-out infinite;
    -webkit-animation: animated_text 5s ease-in-out infinite;
}

@keyframes animated_text {
    0% {
        background-position: 0px 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0px 50%;
    }
}


/* important is used to override bootstrap */
input[type="text"],
.txt {
    color: rgb(161, 172, 169) !important;
    background-color: #2e3031 !important;
    border: none;
    outline: none;

    background: transparent;

}

.card {
    background: linear-gradient(-45deg, #2e3031, #222425);
    background-size: 400% 400%;
    animation: gradient 4s ease infinite;
    background-color: #2e3031;
    transition: 1.2s;
}

.card:hover {
    transform: scale(1.03, 1.03);
    border-radius: 12px;
    box-shadow: 7px 7px 8px rgb(55, 98, 77);
}

.button {
    background-color: rgb(83, 141, 113);
}

.button {
    font-weight: bold;
    color: #1C1D1F;
    position: relative;
    overflow: hidden;
    height: 2.5rem;
    border: none;
    padding: 0 1.5rem;
    border-radius: 12px;
    background-size: 400%;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    background-image: linear-gradient(to right,
            rgb(83, 141, 113),
            rgb(97, 190, 216),
            rgb(167, 197, 200),
            rgb(83, 141, 113));
    transition: 0.8s;

}

.button:hover {
    background-position: right center;
}